# Что сегодня сделаем
Библиотеку для получения курсов валют в 2 строки

In [1]:
#from libs.exchange import Rate

In [2]:
#Rate().usd()

In [3]:
#Rate('full').AZN()

### Задача
Дана строка со значениями, которые разделены запятыми:

In [4]:
line = '2019-07-01,organic,4293'

Напишите функцию column_count, которая возвращает число столбцов в такой строке

In [5]:
len('2019-07-01,organic,4293'.split(','))

3

In [6]:
def line_count(line, count_empty_lines=True, sep=','):
    if count_empty_lines:
        return len(line.split(sep))
    else:
        if line:
            return len(line.split(sep))
        else:
            return 0

In [7]:
line_count(line)

3

In [8]:
line_count('2019-07-01')

1

In [9]:
line_count('', count_empty_lines=False)

0

# Классы
Пример использования переменной в разных методах

In [10]:
class AnyName:
    def method_1(self):
        self.currency = 'usd'
    
    def method_2(self):
        print(self.currency)

In [11]:
a = AnyName()

In [12]:
from datetime import datetime

In [13]:
datetime.strptime

In [14]:
a.method_1()

In [15]:
a.currency

'usd'

In [16]:
#b.

In [17]:
b = AnyName()

In [18]:
b.method_2()

AttributeError: 'AnyName' object has no attribute 'currency'

In [ ]:
a.currency

In [ ]:
a.method_2()

### Метод __init__

In [19]:
# метод __init__ выполняется при вызове класса

class Rate:
    def __init__(self):
        self.format = 'value'
        print(self.format)

In [20]:
r = Rate()

value

In [21]:
r.format

'value'

### Класс для курсов валют

In [22]:
class Rate:
    def __init__(self):
        self.format = 'value'
    
    def show_current_format(self):
        return self.format

In [23]:
r = Rate()

In [24]:
r.show_current_format()

'value'

Пример инициализации со значением переменной

In [ ]:
class Rate:
    def __init__(self, format_):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [ ]:
r = Rate(format_='value')

In [ ]:
r.show_current_format()

Или сразу со значением по умолчанию

In [ ]:
class Rate:
    def __init__(self, format_='value'):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [ ]:
r = Rate()
r.show_current_format()

In [ ]:
r_full = Rate(format_='full')
r_full.show_current_format()

In [ ]:
r.format

In [ ]:
# значения переменных класса можно менять

r.format = 'full_123'
r.show_current_format()

### Задание
Создайте класс сотрудника Employee. При инициализации класса задается имя сотрудника name и его текущая зарплата salary. Напишите следующие методы:
1. Метод up, который увеличивает зарплату сотрудника на 100
2. Метод print, который выводит на экран текущую зарплату сотрудника в формате "Сотрудник Иван, зарплата 100"

In [25]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    
    def up(self):
        self.salary += 100
    
    def print_(self):
        print('Сотрудник {}, зарплата {}'.format(self.name, self.salary))

In [26]:
ivan = Employee(name='Иван', salary=50)

In [27]:
ivan.salary

50

In [28]:
ivan.up()
ivan.print_()

Сотрудник Иван, зарплата 150

In [29]:
elena = Employee(name='Елена', salary=300)

In [30]:
elena.up()
elena.print_()

Сотрудник Елена, зарплата 400

### Полная версия класса

In [31]:
import requests

In [32]:
class Rate:
    def __init__(self, format_='value'):
        self.format = format_
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        self.r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return self.r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')
    
    def brl(self):
        """Возвращает курс бразильского реала на сегодня в формате self.format"""
        return self.make_format('BRL')

In [33]:
r = Rate(format_='full')

In [34]:
r.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 54.3191,
  'Previous': 54.3719},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 45.2145,
  'Previous': 45.4255},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 98.0908,
  'Previous': 98.2244},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 15.7967,
  'Previous': 15.8737},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 29.5596,
  'Previous': 29.6189},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 45.7722,
  'Previous': 46.0105},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 13.9421,
  'Previous': 13.798},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 24.6778,
  'Previous': 24.6485},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 99.1181,
  'Previous': 99.5819},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 12.0269,
  'Previous': 12.0906},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 76.8195,
  'Previous': 77.178},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 89.6637,
  'Previous': 89.9818},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 10,
  'Name': 'Индийских рупий',
  'Value': 10.4352,
  'Previous': 10.4422},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 17.9973,
  'Previous': 18.0664},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 57.4953,
  'Previous': 57.5998},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 96.7779,
  'Previous': 97.2311},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 1,
  'Name': 'Китайский юань',
  'Value': 11.265,
  'Previous': 11.3091},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 45.5362,
  'Previous': 45.953},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 80.5354,
  'Previous': 80.7166},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 19.6741,
  'Previous': 19.8933},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 18.3489,
  'Previous': 18.4716},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 107.8638,
  'Previous': 108.6473},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 55.8809,
  'Previous': 56.1295},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 74.4015,
  'Previous': 74.7849},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 10.1696,
  'Previous': 10.0161},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 21.9798,
  'Previous': 22.0824},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 74.8145,
  'Previous': 75.1636},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 27.1833,
  'Previous': 27.3165},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 33.1397,
  'Previous': 33.3152},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 84.3225,
  'Previous': 85.2155},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 82.9316,
  'Previous': 83.4357},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 45.5707,
  'Previous': 45.022},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 65.5356,
  'Previous': 65.748},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 72.863,
  'Previous': 73.2691}}

In [35]:
r.usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 76.8195,
 'Previous': 77.178}

In [36]:
r = Rate()

In [37]:
r.usd()

76.8195

In [38]:
r.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 54.3191,
  'Previous': 54.3719},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 45.2145,
  'Previous': 45.4255},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 98.0908,
  'Previous': 98.2244},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 15.7967,
  'Previous': 15.8737},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 29.5596,
  'Previous': 29.6189},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 45.7722,
  'Previous': 46.0105},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 13.9421,
  'Previous': 13.798},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 24.6778,
  'Previous': 24.6485},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 99.1181,
  'Previous': 99.5819},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 12.0269,
  'Previous': 12.0906},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 76.8195,
  'Previous': 77.178},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 89.6637,
  'Previous': 89.9818},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 10,
  'Name': 'Индийских рупий',
  'Value': 10.4352,
  'Previous': 10.4422},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 17.9973,
  'Previous': 18.0664},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 57.4953,
  'Previous': 57.5998},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 96.7779,
  'Previous': 97.2311},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 1,
  'Name': 'Китайский юань',
  'Value': 11.265,
  'Previous': 11.3091},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 45.5362,
  'Previous': 45.953},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 80.5354,
  'Previous': 80.7166},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 19.6741,
  'Previous': 19.8933},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 18.3489,
  'Previous': 18.4716},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 107.8638,
  'Previous': 108.6473},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 55.8809,
  'Previous': 56.1295},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 74.4015,
  'Previous': 74.7849},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 10.1696,
  'Previous': 10.0161},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 21.9798,
  'Previous': 22.0824},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 74.8145,
  'Previous': 75.1636},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 27.1833,
  'Previous': 27.3165},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 33.1397,
  'Previous': 33.3152},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 84.3225,
  'Previous': 85.2155},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 82.9316,
  'Previous': 83.4357},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 45.5707,
  'Previous': 45.022},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 65.5356,
  'Previous': 65.748},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 72.863,
  'Previous': 73.2691}}

Документация необходима почти всем методам

In [39]:
?r.exchange_rates

# Наследование

Разработчикам финансового департамента помимо курса надо работать с кодами валют. Как сохранить сохранить разработку класса Rate у нас, а полезные функции передать финансистам?

In [ ]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')

Теперь классу CurrencyCodes доступны все методы класса Rate. Можем продолжать разработку в нужном направлении.

In [ ]:
cc = CurrencyCodes()

In [ ]:
CurrencyCodes().usd()

Допишем в класс что-нибудь свое новенькое

In [ ]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')
    
    def currency_id(self, currency):
        """Получение идентификатора валюты"""
        return self.make_format(currency)['ID']

In [ ]:
currency = CurrencyCodes()

In [ ]:
currency.currency_id('USD')

# Система повышения сотрудников

In [ ]:
class Employee:
    def __init__(self, name, seniority):
        self.name = name
        self.seniority = seniority
        
        self.grade = 1
    
    def grade_up(self):
        """Повышает уровень сотрудника"""
        self.grade += 1
    
    def publish_grade(self):
        """Публикация результатов аккредитации сотрудников"""
        print(self.name, self.grade)
    
    def check_if_it_is_time_for_upgrade(self):
        pass

In [ ]:
class Developer(Employee):
    def __init__(self, name, seniority):
        super().__init__(name, seniority)
    
    def check_if_it_is_time_for_upgrade(self):
        # для каждой аккредитации увеличиваем счетчик на 1
        # пока считаем, что все разработчики проходят аккредитацию
        self.seniority += 1
        
        # условие повышения сотрудника из презентации
        if self.seniority % 5 == 0:
            self.grade_up()
        
        # публикация результатов
        return self.publish_grade()

In [ ]:
# проверяем как работает система повышения сотрудников на примере отдела разработки

# разработчик Александр только что пришел в компанию
alex = Developer('Александр', 0)

In [ ]:
for i in range(20):
    alex.check_if_it_is_time_for_upgrade()

# Импорт классов и функций

In [42]:
from libs.exchange import my_sum

ModuleNotFoundError: No module named 'libs.exchange'

In [ ]:
my_sum(1, 2)

In [ ]:
from libs.exchange import Rate

In [41]:
Rate().AZN()

AttributeError: 'Rate' object has no attribute 'AZN'

In [40]:
# такой способ импорта крайне не рекомендуется
from libs.exchange import *

ModuleNotFoundError: No module named 'libs.exchange'

Если библиотека лежит в произвольной папке

In [ ]:
import sys
sys.path

In [ ]:
# пример

import sys
sys.path.append('/Users/kbashevoy/Desktop/Нетология/Занятия/Записи/06. Классы в python/libs')

In [ ]:
from exchange import my_sum

In [ ]:
my_sum(3, 3)